tqdm基本用法

In [15]:
from time import sleep
from tqdm import tqdm

for _ in tqdm(range(1000)):
    sleep(0.001)

100%|██████████| 1000/1000 [00:12<00:00, 77.15it/s]

tqdm中trange的使用

In [16]:
from tqdm import trange

for _ in trange(1000):
    sleep(0.001)

100%|██████████| 1000/1000 [00:12<00:00, 78.43it/s]

desc参数：改变进度条左侧出现的文字

In [17]:
from tqdm import trange

for _ in tqdm(range(1000), desc="第一行："):
    sleep(0.001)

第一行：: 100%|██████████| 1000/1000 [00:13<00:00, 75.39it/s]

total参数：在tqdm未知迭代次数时，设置迭代次数

In [18]:
students = [
    "Alice",
    "Bob",
    "Charlie",
    "Diana",
    "Ethan",
    "Fiona",
    "George",
    "Hannah",
    "Ivy",
    "Jack",
    "Katherine",
    "Liam"]

for _ in tqdm(students):
    sleep(0.5)

100%|██████████| 12/12 [00:06<00:00,  1.97it/s]

In [19]:
def my_generator():
    for i in range(50):
        yield i

for _ in tqdm(my_generator(), total=50):
    sleep(0.5)

100%|██████████| 50/50 [00:25<00:00,  1.97it/s]

可以不设置iterable参数，不必局限在for循环中

In [20]:
pbar = tqdm(total=100)
pbar.update(10)
sleep(2)
pbar.update(20)
sleep(2)
pbar.update(70)
pbar.close

100%|██████████| 100/100 [00:04<00:00, 26.61it/s]

with上下文管理器

In [21]:
with tqdm(total=100) as pbar:
    pbar.update(10)
    sleep(2)
    pbar.update(20)
    sleep(2)
    pbar.update(70)

100%|██████████| 100/100 [00:04<00:00, 24.90it/s]

tqdm和pandas结合，seaborn是一个可视化工具，做数据分析用

In [22]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [23]:
df.petal_width.apply(lambda x: x*2)

0      0.4
1      0.4
2      0.4
3      0.4
4      0.4
      ...
145    4.6
146    3.8
147    4.0
148    4.6
149    3.6
Name: petal_width, Length: 150, dtype: float64

In [24]:
tqdm.pandas()
out = df.petal_width.progress_apply(lambda x: x*2)

100%|██████████| 150/150 [00:00<00:00, 147409.93it/s]

100%|██████████| 100/100 [00:19<00:00, 26.61it/s]